:root {
	--col-theme: #162d46;
	--col-button: var(--col-theme);
	--col-button-hover: var(--col-theme);
	--col-input-deco: var(--col-theme);
	--col-ooo-text: var(--col-theme);
	--col-loader: var(--col-theme);
	--col-button-text: var(--col-text);
	--col-text: #bebebe;
	--col-headings: #bebebe;
	--col-slider: #162d46;
	--col-slider-btn: var(--col-text);
	--col-background: #313131;
	--col-ooo: var(--col-panel);
	--col-link: #4b64aa;
	--col-link-hover: #283f5c;
	--col-toast: #777;
	--col-acc: #252525;
	--col-acc-text: var(--col-text);
	--col-acc-hover: #2b2936;
	--col-panel: #444444;
	--col-popup: var(--col-panel);
	--col-description-text: white;
	--col-sidenav: #383838;
	--col-line: #2b2a2a;
	--col-nav: var(--col-panel);
	--col-wall: #64646433;
	--col-listedtexts: #383838;
	--col-showytext-text: gray;
	--col-browser-acc-item: var(--col-acc);
	--col-browser-acc-item-hov: var(--col-acc-hover);
	--col-calendar-day: var(--col-panel);
	--col-calendar-today: #2b2a2a;
	--col-calendar-addbtn: #313131;
	--col-calendar-event-text: var(--col-text);
	--col-consultation-resultbox: var(--col-panel);
	--col-consultation-popup: var(--col-popup);
	--col-consultation-emptyselect-text: var(--col-showytext-text);
	--col-consultation-emptyselect-option-text: initial;
	--col-consultation-day: var(--col-panel);
	--col-consultation-entry: #313131;
	--col-consultation-time-text: #666;
	--col-icon-menu: var(--col-text);
	--col-overview-box: var(--col-panel);
	--col-overview-dragbar: #0e2035;
	--col-overview-paneledit: var(--col-background);
	--col-overview-alwayson-text: var(--col-text);
	--col-overview-hiddenpanels: rgb(0, 0, 0);
	--col-settings-setting: #242424;
	--col-settings-title: #dfdfdf;
	--col-table-zoomcontrols-text: var(--col-text);
	--col-table-lesson-text: #bebebe;
	--col-table-break-text: gray;
	--col-table-break: #404040;
	--col-table-nodata-text: gray;
	--col-table-overlay-text: var(--col-text);
	--col-table-zoomcontrols: black;
	--col-table-table: var(--col-background);
	--col-teacher-block: var(--col-popup);
	--col-welcome-news: #404040;
	--col-input: #909090;
	--col-input-text: black;
	--col-input-border: #162d46;
	--col-date-button: black;
	/*konstanten sollten gleich bleiben oder zumindest ähnlich*/
	--const-col-calendar-event-custom: #ff6666;
	--const-col-calendar-event-exam: #e6d600;
	--const-col-calendar-event-homework: #6979b5;
	--const-col-calendar-event-holiday: #a2d8f4;
	--const-col-calendar-event-role: #8fae50;
	--const-col-table-examcell: #a18617;
	--const-col-table-stanardcell: #1d1d1d;
	--const-col-table-notstanardcell: orange;
	--const-col-table-eventcell: #4e5f2c;
	--const-col-table-cancelledcell: #153115;
	--const-col-table-shiftcell: #a781b5;
	--const-col-table-substitutioncell: #381c42;
	--const-col-table-additionalcell: #2c1875;
	--const-col-table-roomsubstitutioncell: #6979b5;
	--const-col-table-freecell: #53aedd;
	--const-col-table-officehourcell: #f6b85e;
}

textarea {
	background-color: var(--col-input);
}
