/*
 * Copyright ©2018
 * Written by:
 * Maximilian Mayrhofer
 * Wendelin Muth
 */

:root {
	--col-browser-acc-item: #eee;
	--col-browser-acc-item-hov: #eee;
}

.item {
	padding: 9px 18px;
	border-bottom: 1px solid gray;
	background-color: var(--col-browser-acc-item);
	cursor: pointer;
	display: block;
	color: black;
}

.item:hover {
	background-color: var(--col-browser-acc-item-hov);
}

.search-bar {
	width: 100%;
	font-size: 14pt;
	margin-bottom: 5px;
	flex-grow: 1;
	flex-basis: 300px;
	justify-content: space-between;
}

#contentWrapper {
	overflow-y: scroll /*!important*/;
}
